.comp-navbar ul {
  display: flex;
  margin: 0px;
  background-color: grey;
}

.comp-navbar a {
  padding: 10px;
  margin-right: 3px;
  background-color: black;
}

#song-creation-genre-checkboxes {
  display: flex;
}

#song-creation-genre-checkboxes .song-creation-genre-box {
  padding: 1em;
  border: 2px solid black;
}