body {
  margin: 0px;
}

main {
  margin: 8px;
}

.comp-navbar ul {
  display: flex;
  margin: 0px;
  padding: 0.5em;
  background-color: grey;
  justify-content: space-between;
}

.comp-navbar div {
  display: flex;
}

.comp-navbar a {
  padding: 10px;
  margin-left: 0.75em;
  margin-right: 0.75em;
  background-color: lightgray;
  border: 2px solid red
}

#song-creation-genre-checkboxes {
  display: flex;
}

#song-creation-genre-checkboxes .song-creation-genre-box {
  padding: 1em;
  border: 2px solid black;
}

.error-message {
  font-weight: bold; 
  color:red;
}